<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedExpress Hub</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://kit.fontawesome.com/4c5acf577d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/index"><img src="/img/LOGO.png" alt="Website Logo"></a>
        </div>
        <div class="ribbon" id="navbar">
            <ul>
                <li><a  class="active" href="/index">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li id="lg-bag"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <a href="" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div class="menu-toggle">
            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>   
            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
    </header>
    <section class="hero">
        <div class="background-image"></div>
        <div class="overlay"></div>
        <div class="intro">
            <h1>Welcome to Our Online Pharmacy</h1>
            <br>
            <p>"Get your medications delivered to your doorstep with ease and convenience. At MedExpress, we prioritize your health and well-being by offering a seamless online pharmacy experience. We understand the importance of timely access to medications, which is why we have partnered with trusted local pharmacy shops to ensure that you receive the highest quality products. <br>
            Through our partnerships, we not only support local businesses but also uphold stringent quality standards to guarantee the authenticity and effectiveness of every medication. Our dedicated team works tirelessly to streamline the ordering process, so you can rest assured that your prescriptions will be delivered promptly and efficiently. <br>
            With our user-friendly website and secure payment options, you can conveniently order your medications from the comfort of your home. Experience the convenience of having your prescriptions delivered straight to your doorstep, all while supporting your local community and prioritizing your health."</p> <br>
            <a href="/shop" style="color: aliceblue;">Shop Now</a>
        </div>
    </section>
    <!-- Services Section -->
    <section class="services">
        <div class="container">
            <h2 class="section-heading">OUR SERVICES</h2>

            <!-- Medication Section -->
            <div class="section">
                <h3 class="subsection-heading">Medication</h3>
                <div class="service-item">
                    <div class="image-container">
                        <img src="/img/MedicationPackaging.jpg" alt="Medication">
                    </div>
                    <div class="content">
                        <h4>Medication Delivery</h4>
                        <p>Medication delivery services offer the convenience of having prescribed medications delivered directly to the customer's doorstep. This service ensures timely access to essential medications without the need for in-person visits to a pharmacy, particularly beneficial for individuals with mobility issues or those living in remote areas.</p>
                    </div>
                </div>
                <br>
                <div class="content">
                    <h4>Prescription Refills</h4>
                    <p>Prescription refill services allow individuals to easily reorder their medications online, eliminating the hassle of visiting a healthcare provider for routine prescription renewals. This service streamlines the medication management process, ensuring patients have a continuous supply of their prescribed medications.</p>
                </div>
                <br>
                <div class="content">
                    <h4>Medication Packaging</h4>
                    <p>Medication packaging services provide specialized packaging options for managing medication regimens effectively. These packaging solutions may include organized pill dispensers, blister packs, or multi-dose packaging, enhancing medication adherence and reducing the risk of medication errors.</p>
                </div>
            </div>

            <!-- Healthcare Section -->
            <div class="section">
                <h3 class="subsection-heading">Healthcare</h3>
                <div class="service-item">
                    <div class="image-container">
                        <img src="/img/MedicationConsultation.jpg" alt="Healthcare">
                    </div>
                    <div class="content">
                        <h4>Health Monitoring</h4>
                        <p>Health monitoring tools enable individuals to track various health metrics, such as blood pressure, blood glucose levels, heart rate, and activity levels. These tools may include wearable devices, mobile apps, or home monitoring devices, empowering individuals to take proactive steps towards managing their health and well-being.</p>
                    </div>
                </div>
                <br>
                <div class="content">
                    <h4>Medication Consultation</h4>
                    <p> Medication consultation services offer individuals the opportunity to consult with pharmacists or healthcare professionals for personalized medication-related advice. These consultations may include medication reviews, dosage adjustments, and discussions about potential side effects or drug interactions, optimizing medication therapy for better health outcomes.</p>
                </div>
                <br>
                <div class="content">
                    <h4>Healthcare Products</h4>
                    <p>Healthcare product offerings encompass a wide range of products designed to support health and wellness, including medications, vitamins, supplements, personal care items, and medical devices. These products are curated to meet the diverse needs of individuals seeking to maintain or improve their health.</p>
                </div>
                <br>
            </div>

            <!-- Customer Support Section -->
            <div class="section">
                <h3 class="subsection-heading">Customer Support</h3>
                <div class="service-item">
                    <div class="image-container">
                        <img src="/img/cc.avif" alt="Customer Support">
                    </div>
                    <div class="content">
                        <h4>Discount Programs</h4>
                        <p>Discount programs or loyalty rewards incentivize customer loyalty by offering discounts, rewards, or special offers on healthcare products and services. These programs aim to enhance customer satisfaction and retention while providing cost-saving benefits to individuals seeking affordable healthcare options.</p>
                    </div>
                </div>
                <br>
                <div class="content">
                    <h4>Customer Support</h4>
                    <p>Customer support services ensure timely assistance and guidance for addressing inquiries, concerns, or issues related to products or services. These support channels may include helplines, live chat support, email support, or in-person assistance, offering personalized assistance to meet the needs of customers effectively.</p>
                </div>
                <br>
                <div class="content">
                    <h4>Privacy and Security</h4>
                    <p> Privacy and security measures are in place to safeguard individuals' personal health information and ensure compliance with privacy regulations. These measures encompass strict confidentiality protocols, secure data storage practices, encryption technologies, and regular security audits to protect against data breaches and unauthorized access.</p>
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="contact-info">
            <p><i class="fa-regular fa-envelope"></i>  medex.cc@gmail.com</p>
        </div>
    </footer>

    <script src="/script.js"></script>
</body>
</html>
