<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MedExpress</title>
    <link rel="stylesheet" href="/login.css">
    <script src="/login.js" defer></script>
    <script src="https://kit.fontawesome.com/4c5acf577d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="https://medexpress-pharmacy.onrender.com/"><img src="/img/LOGO.png" alt="Website Logo"></a>
        </div>
        <div class="ribbon" id="navbar">
            <ul>
                <li><a href="https://medexpress-pharmacy.onrender.com/">Home</a></li>
                <li><a  href="/shop">Shop</a></li>
                <li><a class="active" href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li id="lg-bag"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <a href="" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        
        <div class="menu-toggle">
            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
    </header>
    <div class="container">
        <div class="login-card">
            <h2 class="text-center"><i class="fa-solid fa-hospital-user"></i> LOGIN</h2>
            <form id="login-form" method="post" action="" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <br>
            <p class="text-center">Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </div>
    <footer>
        <div class="contact-info">
            <p><i class="fa-regular fa-envelope"></i>  medex.cc@gmail.com</p>
        </div>
    </footer>

    <script src="/login.js"></script>

</body>
</html>
